
<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Dashboard</h2>
      <p>Whole data about your business here</p>
    </div>
    <div>
      <a href="/admin/sales" class="btn btn-primary">
        <i class="text-muted material-icons md-post_add"></i>Create report
      </a>
    </div>
  </div>
  <div class="row">
  <div class="col-lg-3">
    <div class="card card-body mb-4">
      <article class="icontext">
        <span class="icon icon-sm rounded-circle bg-primary-light">
          <i class="text-primary material-icons md-monetization_on"></i>
        </span>
        <div class="text">
          <h6 class="mb-1 card-title">Revenue</h6>
          <span>₹{{this.revenue}}</span>
          <span class="text-sm">Shipping fees  not included</span>
        </div>
      </article>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card card-body mb-4">
      <article class="icontext">
        <span class="icon icon-sm rounded-circle bg-success-light">
          <i class="text-success material-icons md-local_shipping"></i>
        </span>
        <div class="text">
          <h6 class="mb-1 card-title">Orders</h6>
          <span>{{this.ordersCount}}</span>
          <span class="text-sm">Excluding orders in transit</span>
        </div>
      </article>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card card-body mb-4">
      <article class="icontext">
        <span class="icon icon-sm rounded-circle bg-warning-light">
          <i class="text-warning material-icons md-qr_code"></i>
        </span>
        <div class="text">
          <h6 class="mb-1 card-title">Products</h6>
          <span>{{this.productCount}}</span>
          <span class="text-sm">In {{this.categoryCount}} Categories</span>
        </div>
      </article>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card card-body mb-4">
      <article class="icontext">
        <span class="icon icon-sm rounded-circle bg-info-light">
          <i class="text-info material-icons md-shopping_basket"></i>
        </span>
        <div class="text">
          <h6 class="mb-1 card-title">Monthly Earning</h6>
          <span>₹{{this.AverageValue}}</span>
          <span class="text-sm">Based on your local time.</span>
        </div>
      </article>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card mb-4">
        <article class="card-body">
          <h5 class="card-title">Sale statistics</h5>
          <canvas id="BarChart" style="width:100%;max-width:600px"></canvas>
        </article>
      </div>
      <div class="card mb-4">
        <article class="card-body">
          <h5 class="card-title">Monthly Sales Statistics</h5>
          <canvas id="MonthlyBarChart" style="width:100%;max-width:600px"></canvas>
        </article>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card mb-4">
            <article class="card-body">
              <h5 class="card-title">Category-wise Product Quantity</h5>
              <canvas id="PieChart" style="width:100%;max-width:600px"></canvas>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- content-main end// -->
  <footer class="main-footer font-xs">
    <div class="row pb-30 pt-15">
      <div class="col-sm-6">
        <script>
          document.write(new Date().getFullYear());
        </script>
        ©, E.com -  Ecommerce Website .
      </div>
      <div class="col-sm-6">
        <div class="text-sm-end">All rights reserved</div>
      </div>
    </div>
  </footer>

 
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>


 <script>
  let yValues = [];
  {{#each dayWiseSales}}
    yValues.push({{this.total}});
  {{/each}}

  console.log(yValues);

  var xValues = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
  var barColors = ["red", "green", "blue", "orange", "brown", "yellow", "violet"];

  new Chart("BarChart", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: "Day wise Sales Statistics"
      }
    }
  });

  let monthlyYValues = [];
  {{#each monthlySales}}
    monthlyYValues.push({{this.total}});
  {{/each}}

  console.log(monthlyYValues);

  var monthlyXValues = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
  var monthlyBarColors = ["red", "green", "blue", "orange", "brown", "yellow", "violet", "gray", "purple", "teal", "pink", "lime"];

  new Chart("MonthlyBarChart", {
    type: "bar",
    data: {
      labels: monthlyXValues,
      datasets: [{
        backgroundColor: monthlyBarColors,
        data: monthlyYValues
      }]
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: "Monthly Sales Statistics"
      }
    }
  });

  let bValues = [];
  {{#each categoryQuantity}}
    bValues.push({{this.Quantity}});
  {{/each}}

  var aValues = ["WiredHeadphones", "Wireless", "TWS", "Headsets"];
  var barColors = [
    "#b91d47",
    "#00aba9",
    "#2b5797",
    "#2c5800"
  ];

  new Chart("PieChart", {
    type: "pie",
    data: {
      labels: aValues,
      datasets: [{
        backgroundColor: barColors,
        data: bValues
      }]
    },
    options: {
      title: {
        display: true,
        text: "Category v/s Quantity"
      }
    }
  });
</script>

